<div class="nav">
  <div class="menu">
    <button [routerLink]="['/']">Главная</button>
    <button [routerLink]="['/cart']">Корзина</button>
  </div>

  <div class="info">

      <button class="wishlist" (click)="toggle()"> {{ wishlistItems.length }} товара</button>
      <div class="pop-up" [ngClass]="{invisible: visibility}">
        <div class="popup-items" *ngFor="let item of wishlistItems; let i=index">
          <div *ngIf="i < 5">
            <img class="preview" src={{item.img}} alt="Iphone"> <br>
            {{ item.date | date:'d/M/yy hh:mm:ss' }} <br>
            {{ item.name }}
            <hr>
        </div>
      </div>
      <button [routerLink]="['/wishlist']">Избранное</button>
      </div>

      <div class="cart-info" *ngIf="cartAmount>0">
      <span>В корзине <strong>{{ cartAmount+' товаров' }}</strong>
      </span> <br>
        <span>На сумму <strong>{{ cartSumm+' руб' }}</strong></span>
      </div>



  </div>
</div>
