.nav {
  height: 30px;
  background-color: #d8d8d8;
  border: 1px solid #aeaeae;
  padding: 5px 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  border: none;
}

.info {
  position: relative;
  font-weight: normal;
  display: flex;
}

.wishlist {
  height: 40px;
  border: none;
}

.cart-info {
  background: url('/assets/images/supermarket.png') no-repeat 1px;
  padding-left: 40px;
  padding-top: 2px;
}

.wishlist::before {
  content: "";
  display: block;
  background: url('/assets/images/wishlist.png') no-repeat;
  width: 40px;
  height: 40px;
  float: left;
  position: relative;
  top: -5px;
}

.pop-up {
  position: absolute;
  top: 40px;
  width: 300px;
  border: 1px solid #aeaeae;
  z-index: 1;
  background-color: white;
  padding: 20px;
  text-align: center;
}


.pop-up button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview {
  width: 100px;
}

.invisible {
  display:none;
}
