<h3>Корзина</h3>

<div *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price+' руб'  }}</span>
  <span>{{ item.price * item.amount +' руб' }}</span>
  <input type="number"  value="{{ item.amount }}" min="1" (change)="recount($event, item.id)">
  <button (click)="addToWishlist(item)">В избранное</button>
  <button (click)="deleteFromCart(item.id)">Удалить</button>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="name">ФИО:</label>
    <input type="text" formControlName="name" id="name">
  </fieldset>
  <span *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
    Необходимо заполнить ФИО.
  </span>
  <fieldset>
    <label for="phone">Номер телефона:</label>
    <input type="number" formControlName="phone" id="phone" placeholder="+7XXXXXXXXXX">
  </fieldset>
  <span *ngIf="(phone.dirty || phone.touched) && phone.invalid && phone.errors.required">
    Необходимо указать номер телефона.
  </span>
  <fieldset>
    <label for="email">Email:</label>
    <input type="email" formControlName="email" id="email">
  </fieldset>
  <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email">
    Неправильно указан email.
  </span>
  <fieldset>
    <label for="address">Адрес доставки:</label>
    <input type="text" formControlName="address" id="adress">
  </fieldset>
  <span *ngIf="(address.dirty || address.touched) && address.invalid && address.errors.required">
    Необходимо указать адрес доставки.
  </span>
  <fieldset>
    <label for="comment">Комментарии:</label>
    <textarea id="comment" formControlName="comment"></textarea>
  </fieldset>
  <button type="submit" class="submit" [disabled]="userForm.invalid">Оформить заказ</button>
</form>
